<header class="blog-header">
    {% if SITENAME %}
        <h1 id="site-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    {% endif %}
    <p>{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
    <nav>
        <!--<a href="{{ SITEURL }}/zeyuan-hus-resume.html" style="padding: 10px">RESUME</a>-->
        <!-- <a href="{{ SITEURL }}/archives" style="padding: 10px">ARCHIVES</a> -->
        {% for title, link in MENUITEMS %}
            <a href="{{ SITEURL }}/{{ link }}" style="padding: 10px">{{ title.upper() }}</a>
        {% endfor %}
    </nav>
</header>
